form {
    label:after, .agree label:after {
        content: '*';
        display: inline-block;
        color: #f14668;
        padding-left: 0.5rem;
    }
    .agree label {cursor: pointer;}
    .help {
        padding: 0;
    }
}