.repo-info {
    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    li {
        font-size: 1.2rem;
        span {
            font-weight: 500;
        }
    }
}

/* .repoBox {
    width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 600px){
        max-width: 65%;
    }
} */